.ContributionValueCell {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: var(--salt-spacing-200);
    justify-content: flex-end;
    .vuuIcon {
        --vuu-icon-top: -2px;
        visibility: hidden;
    }

    &.ContributionValueCell-omit {
        .vuuIcon {
            visibility: visible;
        }
    }

    &.ContributionValueCell-up {
        color: green;
    }
    &.ContributionValueCell-down {
        color: red;
    }
    &:hover {
        .vuuIcon {
            visibility: visible;
        }
    }

}